*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .font-inter {
  font-family: "Inter";
  font-optical-sizing: auto;
}

    /* Common css */
.primary-button{

    width: 164px;
    height: 44px;
    font-size: 16px;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    padding: 12x 16px;
    border: none;
}
/* origiinal css */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    width: 1600px;
    height: 92px;
}

nav .logo{
    width: 140px;
    height: 60px;
} 
ul.menu{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}
